{% load team_tags %}
<div class="group-section">
    <div class="group-header">
        <span class="group-name">Grupo {{ group.name }}</span>
        <span class="group-badge">{{ standings|length }} duplas</span>
    </div>
    <div class="card mb-3">
        <table class="standings-table">
            <thead>
                <tr>
                    <th class="pos-col">#</th>
                    <th>Dupla</th>
                    <th class="num-col">J</th>
                    <th class="num-col">V</th>
                    <th class="num-col">D</th>
                    <th class="num-col">SS</th>
                    <th class="num-col">SP</th>
                </tr>
            </thead>
            <tbody>
                {% for s in standings %}
                <tr>
                    <td class="pos-col {% if s.position <= 3 %}pos-{{ s.position }}{% endif %}">{{ s.position }}</td>
                    <td class="team-name">{{ s.team|team_display:is_admin }}</td>
                    <td class="num-col">{{ s.games }}</td>
                    <td class="num-col">{{ s.wins }}</td>
                    <td class="num-col">{{ s.losses }}</td>
                    <td class="num-col">{{ s.sets_balance }}</td>
                    <td class="num-col">{{ s.points_balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
